  .video {
    width: 70vmax;
    border-radius: 20px;
    } 
  
  .main-body {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
  }
  .video-class {
    width: 70vmax;
  }
  .scroll-class {
    background-color: lightgreen;
    flex: 1;
    padding-top: 10px;
  }
  .video-title {
    font-family: 'Roboto', sans-serif;
    font-size: larger;
    padding: 6px 0 ;
  }
  .name-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .name-sub {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 2px;
  }

  .subscribe {
    background-color: rgb(181, 7, 7);
    color: white;
    border-radius: 5px;
    margin-right: 10px;
  }

  .subscribed {
    background-color: rgb(84, 83, 83);
    color: white;
    border-radius: 5px;
    margin-right: 10px;
  }

  .discription {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: lightgrey;
    border-radius: 15px;
    margin-top: 14px;
    margin-left: 14px;
    margin-right: 14px;
    padding: 2px 6px;
  }

  .comments {
    margin-left: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
  }

  .comment-box {
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    height: 48px;
  }

  .default {
    height: 42px;
    margin: 3px 6px;
    border-radius: 28px;
  }

  .add-comment {
    flex: 1;
    width:80px;
  }